<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="theme-color" content="#000a14" />

		{% if header.description %}
		<meta name="description" content="{{ header.description }}">
		{% else %}
		<meta name="description" content="{{ site.metadata.description }}">
		{% endif %}

		{% if site.rss %}
		<link rel="alternate" type="application/rss+xml" href="{{ site.rss }}" />
		{% endif %}

		<link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico">
	    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

		{% block title %}
		<title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
		{% endblock %}

		{% block stylesheets %}
		{% do assets.add('theme://css/style.css',100) %}
		{% if page.header.customcss %}
			{% set path = base_url ~ '/' ~ page.filePathClean|replace({('/'~page.name): ''}) %}
			{% do assets.add(path ~ '/custom.css',10) %}
		{% endif %}
		{{ assets.css() }}
		{% endblock %}

		{% block opengraph %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{ site.twitter_site }}">
		<meta name="twitter:title" content="{% if header.title %}{{ header.title }}{% else %}{{ site.title }}{% endif %}">
		<meta name="twitter:creator" content="{{ site.author.twitter }}">
		<meta name="twitter:image:src" content="{{ base_url_absolute }}{{ page.media['cover.jpg'].cropZoom(560, 300).url }}">
		<meta name="twitter:domain" content="{{ site.twitter_domain }}">
		<meta name="twitter:description" content="{% if header.description %}{{ header.description }}{% else %}{{ site.metadata.description }}{% endif %}">

		<meta property="og:title" content="{% if header.title %}{{ header.title }}{% else %}{{ site.title }}{% endif %}" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{ base_url_absolute }}{{ page.media['cover.jpg'].cropZoom(600, 315).url }}" />
		<meta property="og:url" content="{{ page.url(true) }}" />
		<meta property="og:description" content="{% if header.description %}{{ header.description }}{% else %}{{ site.metadata.description }}{% endif %}" />
		<meta property="og:site_name" content="{{ site.twitter_domain }}" />
		{% endblock %}

	    {% block javascript %}
	      {% do assets.add('theme://js/sqncbrk.min.js', {'priority':100, 'pipeline':false}) %}
	      {{ assets.js('head', {'loading': 'defer'}) }}
	    {% endblock %}

	{% endblock %}
	</head>

	{% block body %}<body class="{{ browser.getbrowser }}">{% endblock %}

		{% block header %}{% include 'partials/header.html.twig' %}{% endblock %}

	    {% block content %} {% endblock %}

	    {% block search %}{% include 'partials/simplesearch_searchbox.html.twig' %}{% endblock %}

		{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}

	</body>
</html>
