<footer class="sqncbrk-footer sqncbrk-grid">
  <ul class="pages">
      {% for p in pages.children %}{% if p.visible %}
          <li class="item"><a class="sqncbrk-footer-link" href="{{ p.rawRoute() }}"><span class="underline">{{ p.menu }}</span></a></li>
      {% endif %}{% endfor %}
  </ul>

  <ul class="external">
    <li><a class="sqncbrk-footer-link" href="{{ site.rss }}">
      <span class="underline">RSS</span>
    </a></li>
    <li><a class="sqncbrk-footer-link" href="http://store.steampowered.com/curator/{{ site.steam_curator_id }}/">
      <span class="underline">Steam</span>
    </a></li>
  </ul>

  <section class="author">
      <a class="sqncbrk-footer-link" href="{{ site.author.site }}">
        <time class="time">2014–{{ "now"|date("Y") }}</time>
        <span class="underline">{{ site.author.name }}</span>
      </a>
  </section>
</footer>
