<footer id="page-footer">

	<ul>
		<li><a href="{{ site.author.site }}" class="no-u">{{ site.author.site_title }}</a></li>

		{% for p in pages.children %}{% if p.visible %}
			<li><a href="{{ p.rawRoute() }}" class="no-u">{{ p.title }}</a></li>
		{% endif %}{% endfor %}
	</ul>
	<p><nobr>Подписаться на обновления:&nbsp;&nbsp;<a href="{{ site.rss }}" class="no-u feed"></a>&nbsp;&nbsp;<a href="http://twitter.com/{{ site.twitter_site }}" class="no-u twitter"></a>&nbsp;&nbsp;<a href="http://facebook.com/{{ site.facebook_page }}"  class="no-u facebook"></a></nobr></p>

</footer>
