<footer id="page-footer">
	<div class="smallbarrierrief">
		<ul>
			{% for p in pages.children %}{% if p.visible %}
				<li><a href="{{ p.rawRoute() }}">{{ p.title }}</a></li>
			{% endif %}{% endfor %}
		</ul>
		<div class="hi">
			<time>2014–{{ "now"|date("Y") }}</time>
            <a href="{{ site.author.site }}">{{ site.author.name }}</a>
		</div>
	</div>
	<div class="greatbarrierrief">
		<h4>Subscribe</h4>
		<ul>
			<li>
				<a href="{{ site.rss }}" class="no-u feed"></a>
			</li>
			<li>
				<a href="http://twitter.com/{{ site.twitter_site }}" class="no-u donut"></a>
			</li>
			<li>
				<a href="http://store.steampowered.com/curator/{{ site.steam_curator_id }}/"  class="no-u steam"></a>
			</li>
		</ul>
	</div>
</footer>