<img
  alt="{{ page.title }}"
  src="{{ page.media['cover.jpg'].quality(1).url }}"
  data-sizes="auto"
  data-src="{{ page.media['cover.jpg'].url }}"
  class="cover lazyload"
/>
<div class="meta">
  <div class="wrap sqncbrk-grid">
    <time class="date" datetime="{{ page.date|date('Y-m-d') }}">{{ 'SQNC_MONTHS'|ta(page.date|date('n') - 1) }} {{ page.date|date('d') }}, {{ page.date|date('Y') }}</time>
    <h2 class="title">{{ page.title }}</h2>
  </div>
</div>
