<article class="post">
    <a href="{{ page.rawRoute }}" class="post-cover-link">
        <div class="post-cover b-lazy" data-src="{{ page.media['cover.jpg'].url }}" data-src-small="{{ page.media['cover.jpg'].cropResize(750,420).url }}"></div>
        <div class="post-content">
            <header class="entry-date">
                <time class="entry-date" datetime="{{ page.date|date('Y-m-d') }}">{{ page.date|date('d') }} {{ 'SQNC_MONTHS'|ta(page.date|date('n') - 1) }}, {{ page.date|date('Y') }}</time>
            </header>
            <footer class="entry-header">
                <h2 class="entry-title">{{ page.title }}</h2>
            </footer>
        </div>
    </a>
</article>
