<picture class="cover">
  <source
    data-srcset="{{ page.media['cover.webp'].cropZoom(1920,1080).url }}"
    media="(min-width: 1800px)"
    type="image/webp"
  />
  <source
    data-srcset="{{ page.media['cover.webp'].cropZoom(1800,1012).url }}"
    media="(min-width: 1200px)"
    type="image/webp"
  />
  <source
    data-srcset="{{ page.media['cover.webp'].cropZoom(1200,675).url }}"
    media="(min-width: 900px)"
    type="image/webp"
  />
  <source
    data-srcset="{{ page.media['cover.webp'].cropZoom(900,506).url }}"
    media="(min-width: 600px)"
    type="image/webp"
  />
  <source
    data-srcset="{{ page.media['cover.webp'].cropZoom(600,450).url }}"
    media="(max-width: 599px)"
    type="image/webp"
  />
  <source
    data-srcset="{{ page.media['cover.jpg'].cropZoom(1920,1080).url }}"
    media="(min-width: 1800px)"
    type="image/jpeg"
  />
  <source
    data-srcset="{{ page.media['cover.jpg'].cropZoom(1800,1012).url }}"
    media="(min-width: 1200px)"
    type="image/jpeg"
  />
  <source
    data-srcset="{{ page.media['cover.jpg'].cropZoom(1200,675).url }}"
    media="(min-width: 900px)"
    type="image/jpeg"
  />
  <source
    data-srcset="{{ page.media['cover.jpg'].cropZoom(900,506).url }}"
    media="(min-width: 600px)"
    type="image/jpeg"
  />
  <source
    data-srcset="{{ page.media['cover.jpg'].cropZoom(600,450).url }}"
    media="(max-width: 599px)"
    type="image/jpeg"
  />
  <img class="lazyload"
    src="{{ page.media['cover.jpg'].quality(1).url }}"
    data-src="{{ page.media['cover.jpg'].enableProgressive.url }}"
    loading="lazy"
    alt="{{ page.title }}"
  />
</picture>
<div class="meta">
  <div class="wrap sqncbrk-grid">
    <time class="date" datetime="{{ page.date|date('Y-m-d') }}">{{ 'SQNC_MONTHS'|ta(page.date|date('n') - 1) }} {{ page.date|date('d') }}, {{ page.date|date('Y') }}</time>
    <h2 class="title">{{ page.title }}</h2>
  </div>
</div>
