{% extends 'partials/base.html.twig' %}

{% block title %}
<title>{{ query }} {{ header.title|lower }} | {{ site.title }}</title>
{% endblock %}

{% block content %}
<div class="sqncbrk-grid form-wrapper">
  <form class="sqncbrk-form" action="{{ base_url_relative }}/search" method="get">
    <input class="input" type="search" placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="{{ query }}" autofocus="true" onfocus="this.value = this.value;" name="query" />
    <label class="info desktop">Hit enter to search</label>
  </form>
</div>
<div class="sqncbrk-grid sqncbrk-searchfeed">
  {% for p in search_results %}
  {% include 'partials/simplesearch_item.html.twig' %}
  {% endfor %}
  {% if search_results.count == 0 %}
    <div class="sqncbrk-empty">
      <p>Nothing found for request “{{ query }}”.</p>
      <p>Let's look for something else, like <a class="underline" href="{{ base_url_relative }}/search?query=Super+Metroid">Super Metroid</a>.</p>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block body %}
<body class="{{ browser.getbrowser }} sqncbrk-searchresults">
{% endblock %}

{% block header %}
<header class="sqncbrk-header sqncbrk-grid">
	<a href="/" class="logo"><h1>{{ site.title }}</h1></a>
</header>
{% endblock %}

{% block search %}
{% endblock %}

{% block bottom %}
{% endblock %}