{% extends 'partials/base.html.twig' %}

{% block title %}
<title>{{ query }} {{ header.title|lower }} | {{ site.title }}</title>
{% endblock %}

{% block content %}
<div id="primary" class="search-results content-area">
    <form class="search-form" action="{{ base_url_relative }}/search" method="get">
		<input class="search-input" type="search" placeholder="{{ "SEARCH"|t }}" id="search-input" autocomplete="off" value="{{ query }}" autofocus onfocus="this.value = this.value;" name="query">
		<button class="search-submit" type="submit">{{ "SEARCH"|t }}</button>
	</form>
    {% for page in search_results %}
        {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
    {% endfor %}
    {% if search_results.count == 0 %}
    <div class="article-area">
        <p>Nothing found on “{{ query }}”.</p>
        <p>Let's look for something else, like <a href="{{ base_url_relative }}/search?query=Super+Metroid">Super Metroid</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<body class="{{ browser.getbrowser }}">
{% endblock %}

{% block header %}
    <a href="/" id="backtoindex">
        <h1>{{ site.title }}</h1>
    </a>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger" id="open-button">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div class="menu-wrap" id="morphSearch">
        <div class="hamburger-insides">
            <nav id="about-links">
                <ul>
                {% for p in pages.children %}{% if p.visible %}
                    <li><a href="{{ p.rawRoute() }}" class="no-u"><span>{{ p.title }}</span></a></li>
                {% endif %}{% endfor %}
                    {# <li><a href="/ru{{ page.rawRoute() }}" class="no-u">По-русски</a></li> #}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}